package defineelements

import (
    "algvisual/web/views"
    "algvisual/web/components/layout"
)

templ DefineElementsPage() {
	<html>
		<head>
			@views.Header()
		</head>
		<body>
			@layout.Layout() {
				teste
			}
			<script>
        htmx.on('#form', 'htmx:xhr:progress', function(evt) {
          htmx.find('#progress').setAttribute('value', evt.detail.loaded/evt.detail.total * 100)
        });
    </script>
		</body>
	</html>
}
