package table

templ Table() {
	<table class="table">
		{ children... }
	</table>
}

templ THead() {
	<thead>
		{ children... }
	</thead>
}

templ THeadRow() {
	<tr>
		{ children... }
	</tr>
}

templ THeadCol(name string) {
	<th>
		{ name }
	</th>
}

templ TBody() {
	<tbody>
		{ children... }
	</tbody>
}

templ TBodyRow() {
	<tr>
		{ children... }
	</tr>
}

templ TBodyCol(name string) {
	<th>
		{ name }
	</th>
}
