package createtemplatepage

import "algvisual/internal/web/views"

templ CreateTemplatePage() {
	<html>
			@views.Header()
		<body class="debug-screens h-screen bg-background">
    <button type="button" class="btn-primary"> teste </button>
		</body>
	</html>
}
