.tabs {
  @apply flex gap-2 overflow-x-auto border-b border-slate-300 dark:border-slate-700;
}

.tabs__container {
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.tabs__container[data-state="active"] {
  color: var(--color-blue-700);
  border-color: var(--color-blue-700);
  border-bottom-width: 2px;
}

.tabs__container[data-state="active"]>.tabs__container__item {
  font-weight: 700;
  color: var(--color-blue-700);
}

.tabs__container__item {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-transform: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
