package home

import (
	"algvisual/web/views"
	"algvisual/web/components/steps"
	"algvisual/web/components/layout"
)

templ HomePage() {
	<html>
		<head>
			@views.Header()
		</head>
		<body>
			@layout.Layout() {
				@steps.Steps()
			}
		</body>
	</html>
}
