package requestcreateimages

import "algvisual/internal/web/views"
import "algvisual/internal/web/components/layout"

templ Page(input createImageResult) {
	<html>
		<head>
			@views.Header()
		</head>
		<body>
			@layout.Layout() {
				for _, i := range input.Results {
          <div class="m-2">
					<img src={ i.ImageURL } alt=""/>
          </div>
				}
			}
		</body>
	</html>
}
