sl-card.design-card {
  --padding: 0rem;
}

.design-card::part(image) {
  background-color: transparent;
  border: 1px solid var(--sl-color-neutral-200);
  border-radius: var(--sl-border-radius-large);
}

.design-card::part(image):hover {
  border-top-right-radius: var(--sl-border-radius-large);
  border-top-left-radius: var(--sl-border-radius-large);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.design-card::part(base) {
  background-color: transparent;
  border-color: transparent;
}

.design-card::part(base):hover {
  border: 1px solid var(--sl-color-neutral-200);
}

.design-card::part(body) {
  background-color: transparent;
}

.design-card {
  max-width: 300px;
}

.design-card__body {
  padding-left: var(--s-2);
  padding-right: var(--s-2);
  font-size: var(--s0);
  margin: var(--s-2);
}
