package home

import (
	"algvisual/internal/web/views"
	"algvisual/internal/web/components/layout"
	"algvisual/internal/shared"
)

templ HomePage() {
	<html>
		<head>
			@views.Header()
		</head>
		<body>
			@layout.Layout() {
				<div class="w-full flex items-center">
					<a href={ templ.SafeURL(shared.PageRequestUploadFile.String()) } type="button" class="btn m-auto" >Iniciar</a>
				</div>
			}
		</body>
	</html>
}
