.navbar__item {
  color: white;
  text-decoration: none; /* no underline */
}


.navbar__item>a {
  color: white;
  text-decoration: none; /* no underline */
}

.navbar {
  background-color: var(--top-bar-bg-color);
}

.box.navbar {
  padding: var(--s-3);
}

.back {
  width: 24px;
  height: 24px;
  stroke: #fff;
}
