.homebar__item {
  color: var(--sl-color-neutral-600);
  padding: var(--s1);
  text-decoration: none;
}

.homebar__item.active {
  color: white;
  background-color: var(--sl-color-neutral-1000);
  margin: 0px;
}

.homebar {
  background-color: var(--sl-color-neutral-300);
  border-bottom: var(--s-5) solid var(--sl-color-neutral-1000);
}

.homebar.cluster {
  margin: 0px;
}

.cluster.homebar>* {
  /* justify-content: space-between; */
}

.box.homebar {
  padding: var(--s-3);
}

.back {
  width: 24px;
  height: 24px;
  stroke: #fff;
}
