#generate-request-form {
  border-radius: var(--sl-border-radius-x-large);
  background-color: var(--color-slate-100);
  border: 1px solid var(--color-slate-300);
}

.priority-item {
  border: 1px solid var(--color-slate-300);
  padding: var(--s-2);
}

.generation-form__formatos__button {
  --threshold: 1rem;
}
